<div class="row ">
    <div class="card glass">
        <div class="card-body">         
            <div class="row">
                <div class="col-4 col-md-3 border-end">
                    {{>sidebarProductos}}
                </div>
                <div id="listaDeProductos" class="col">
                {{#if userInfo}}
                <span><a class="nav-link text-success" href="/agregar-productos">Administrar Productos</a></span>
                    {{>productosListado}}
                {{else}}
                    {{>productosListadoNoUser}}
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
